/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1D1310;
    color: white;
}
header {
    background-color: white;
}
#hero {
    background-color: orange;
    height: 200px; /* Example height */
    width: 100%; /* Optional */
}
#mainBox {
    background-color: orange;
    height: 200px; /* Example height */
    width: 100%; /* Optional */
}
